input{
    border: none;
    border-bottom: 1px solid #124191;
    height: 50px;
    width: 300px;
    margin: 20px !important;
    color: #124191;
    background-color: #f5f5f9;
}

button{
    height: 50px;
    width: 80%;
    margin: 20px;
    border: 2px solid #124191;
    border-radius: 10px;
    color: #124191;
    background-color: white;
}

button:hover{
    color: black;
    background-color: #124191;
    border-color: white;
    color: white;
}
